# Virtual environments
.venv/
venv/
env/
.env

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Project specific ignores
Mediapipe_model/
MoveNet/
*.joblib
